@import "flowbite/src/themes/default";

@tailwind base;
@tailwind components;
@tailwind utilities;

@plugin "flowbite/plugin";
@source "../../node_modules/flowbite";


.img-flag {
    width: 20px;
    height: auto;
    margin-right: 4px;
    vertical-align: middle;
  }
  /* Ensure Select2 takes full width
  .select2-container {
    width: 100% !important;
  } */